*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    left: 2px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a1ffce, #faffd1);
    overflow: auto;
}

.right{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right .top{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: azure;
    border-radius: 20px;

}
.right .top .searchbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.right .top .searchbox h2{
    color: black;
    font-size: 1.4em;
    cursor: pointer;
}
.right .top .searchbox .inputbx{
    position: relative;
    width: 250px;
    height: 40px;
    background: rgb(204, 255, 204);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    overflow: hidden;
}
.right .top .searchbox .inputbx span{
    color: #8a9596;
    cursor: pointer;
}
.right .top .searchbox .inputbx input{
    position: relative;
    width: 100%;
    height: 25px;
    outline: none;  
    border: none;
    background: transparent;
    margin-right: 10px;
    font-size: 1.2em;
    color: black;
}
.right .top .searchbox .inputbx span.searchClose{
    position: relative;
    right: 10px;
    cursor: pointer;
    display: none;
}
.right .top .user{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.right .top .user span{
    color: black;
    cursor: pointer;
}
.right .top .user .userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.right .top .user .userimg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.right .top .user h2{
    font-size: 1.1em;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}
.right .top .user h2 span{
    color: #8a9596;
    font-size: .8em;
}
.right .top .user .arrow {
    position: relative;
    width: 40px;
    height: 40px;
}
.right .top .user .arrow span{
    color: #788586;
    font-size: 2em;
    transition: .3s ease;
}
.right .top .user .arrow:hover span{
    transform: scale(1.2);
}

 .right .top .user .toggle{
    position: relative;
    width: 40px;
    height: 40px;
}
.right .top .user .toggle span{
    color: #788586;
    font-size: 1.5em;
    transition: .3s ease;
}
.right .top .user .toggle:hover span{
    transform: scale(1.2);
}
.right .top .user .toggle span:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.right .top .user .toggle.active span:first-child{
    opacity: 0;
    visibility: hidden;
}
.right .top .user .toggle.active span:first-child{
    opacity: 1;
    visibility: visible;
}


.project-tasks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;
    left: 30px;
}
.project-column-heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 20pxs;
    color: #232323;
}
.project-column-heading__title {
    font-size: 20px;
    color: #535454;
}
.task {
    cursor: move;
    background: azure;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-shadow: black;
    margin-bottom: 10px;
    border: 3px;
    color: #464545;
}


.task:hover {
    box-shadow: rgba(107, 118, 136, 0.2) 0px 2px 8px 0px;
}
.task p {
    font-size: 15px;
    margin: 1.2em 0;
}
.task__tag {
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
}
.task__tag--copyright {
    color: black;
    background-color: rgb(211, 242, 211);
}
.task__tag--design {
    color: black;
    background-color: rgb(255, 255, 185);
}
.task__tag--illustration {
    color: black;
    background-color: rgb(158, 236, 219);
}
.task__tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task__stats {
    position: relative;
    width: 100%;
    color: rgb(95, 95, 95);
    font-size: 12px;
}
.task__stats span:not(:last-of-type) {
    margin-right: 1rem;
}

#container-wrapper {
    text-align: right; /* Align container to the right */
    padding-right: 20px; /* Add some right padding */
    top: 100px;
    vertical-align: bottom;
}

.box-container {
    margin: 430px auto 10px;/*this can be changed for adjusyting the containers*/
    display: inline-block; /* Display as inline-block to make it align to the right */
    position: relative;
    
    
}

.box {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin: 20px 20px 0 0;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(240, 240, 242);
    transition: transform 0.3s ease;/*used for smooth transition*/
    color: #fff;
    overflow: hidden;/*this is used for the text to be inside the box*/
    text-align: left;
    vertical-align:bottom; /* Align the boxes to the top */
    
    
    
}

.box:hover {
    transform: translateX(22px);
    /*this for the animation*/
    
}

.writings {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;
   
    color: rgb(7, 7, 7);
}

body {
    background-color: #a1ffce;
    color: red;
    text-align: right;
}

.button {
    position: relative;
    left: 900px;
    background-color: transparent;
    color: #242222;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button::before {
    content: "Click";
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(135deg,#58ffa9,#f1fd95);
    transform: translate(0%,90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button::after {
    content: "Add Team";
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0eaea;
    width: 100%;
    height: 180%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%,-100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    transform: translate(0%,0%);
  }
  
  .button:hover::after {
    transform: translate(0%,-200%);
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    scale: 0.95;
  }
  
  
  /*callender*/

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: absolute;
  width: 90%; /* Use percentage for responsiveness */
  max-width: 300px; /* Set a maximum width */
  height: auto; /* Let the height adjust based on content */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  top: 135px;
  left: 87%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

/* Media queries for adjusting positioning on smaller screens */
@media screen and (max-width: 768px) {
  .wrapper {
    top: 100px; /* Adjust top position for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    top: 80px; /* Further adjust top position for even smaller screens */
  }
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 10px 20px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 400;
}
.calendar{
  padding: 1px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 10px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 300;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
  padding: -80px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}
.name{
    color: #242222;
    font-style: normal;
}
.team{
    color: #676666;
    text-decoration: none;
    position:absolute;
    top: -20px;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
  color: #242222;
  text-align: center;
}